<div class="container">
    <div class="row">
        <div class="well">
            <div class="tool-group list-group">
                <!-- TOOL BLOCK -->
                <a href="/generadores" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="http://res.cloudinary.com/guumaster-rpg/image/upload/c_fit,h_250,w_350/v1465062187/supply-green-dice_m55yeo.png" alt="Generadores">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Generadores aleatorios </h4>
                        <p class="list-group-item-text">
                            Una herramienta para generar contenido aleatorio de diferentes tablas. Escribe tus tablas o usa las tablas de la comunidad  para crear nuevas y creativas aplicaciones en minutos.
                        </p>
                        <p></p>
                    </div>
                    <div class="col-md-3 text-center">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Visitar</button>
                    </div>
                </a>
                <!-- /TOOL BLOCK -->
            </div>
        </div>
    </div>
</div>