<!doctype html>
<html>
<head>
    {% block head %}
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="//bootswatch.com/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//necolas.github.io/normalize.css/4.1.1/normalize.css">
    <link href='//fonts.googleapis.com/css?family=Sigmar+One|Nunito|Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='/fonts/rpg-awesome/css/rpg-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/roleando.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/simple-toast.min.js"></script>
    <style>
        {% block css %}{% endblock %}
    </style>
    {% endblock %}
</head>
<body>
{% include "./partials/menu.html" %}
{% block body %}
{% include "./partials/tools.html" %}
{% endblock %}
    {% block endscript %}{% endblock %}
<script>
    $(() => {
        // link buttons with data-href
        $('button[data-href]').on('click', e => window.location.href = $(e.target).data('href'))
    })
</script>
</body>
</html>
