

<div class="row" id="generator">

    <input type="hidden" id="generator-id" value="{{ generator.tableId }}" />
    <input type="hidden" id="generator-owned" value="{{ generator.owned }}" />
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{ 'active' if not isNewOrEdit }}"><a href="#runner-tab" role="tab" data-toggle="tab">Generador</a></li>
        <li role="presentation" class="{{ 'active' if isNewOrEdit }}"><a href="#sources-tab" role="tab" data-toggle="tab">Tablas y Plantilla</a></li>
        <li role="presentation"><a href="#ayuda" role="tab" data-toggle="tab">Ayuda</a></li>
    </ul>
    <div class="row">
        &nbsp;
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <!--- RUNNER -->
                <div role="tabpanel" class="tab-pane {{ 'active' if not isNewOrEdit }}" id="runner-tab">

                    <div class="form-group pull-right" >
                        <div class="btn-group">
                            <button id="btn-copy" data-clipboard-action="copy" data-clipboard-target="#runner-output" class="btn btn-primary"><span class="fa  fa-paste"></span> Copiar
                            </button>
                            <button id="btn-regen" class="btn btn-primary"><span class="fa fa-repeat"></span> Generar
                            </button>
                        </div>
                    </div>
                    <div class="form-group clearfix" ></div>
                    <div class="well well-lg big-text " id="runner-output"></div>

                    <!--  SHARE! -->
                    <div class="clearfix">&nbsp;</div>
                    <div class="pull-right">
                        <div class="addthis_sharing_toolbox" data-url="{{generator.shortLink}}" data-title="Prueba el generador aleatorio '{{generator.name}}' "></div>
                    </div>

                </div>
                <!--- TABLAS Y PLANTILLAS -->
                <div role="tabpanel" class="tab-pane {{ 'active' if isNewOrEdit }}" id="sources-tab">

                    <div class="btn-group  pull-right">
                        <button id="remove" class="btn btn-danger disabled"><span class="fa fa-trash-o"></span>
                            Borrar
                        </button>
                        <button id="print" class="btn btn-primary"><span class="fa fa-print"></span>
                        </button>
                        <button id="save" class="btn btn-primary disabled"><span class="fa fa-cloud-upload"></span>
                            Guardar
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li id="fork" class="disabled"><a href="#" ><span class="fa fa-code-fork"></span> Copiar</a></li>
                        </ul>
                    </div>
                    <div class="form-group clearfix "></div>

                    <div class="form-group">
                        <label for="generator-name">Nombre</label>
                        <input id="generator-name" class="form-control" placeholder="Nombre del generador" value="{{ generator.name }}"/>
                    </div>
                    <div class="form-group">
                        <label for="generator-desc">Descripcion</label>
                        <input id="generator-desc" class="form-control" placeholder="Describe tu generador" value="{{ generator.desc }}"/>
                    </div>

                    <div class="form-group clearfix "></div>
                    <!-- PLANTILLAS -->
                    <div class="form-group">
                        <label for="tpls">Plantillas</label>
                        <p class="help-block">Aqui puedes escribir texto en multiples lineas con referencias a las tablas</p>
                            <textarea id="tpls" class="form-control">
{% if (generator) %}
{{generator.data.tpls}}
{% else %}
Un plantilla simple
---
Esta plantilla muestra una opción de la tabla de ejemplo: [tabla_ejemplo]

{% endif %}
</textarea>
                    </div>

                    <!-- TABLAS -->
                    <div class="form-group">
                        <label for="sources">Tablas</label>
                        <p class="help-block">En este cuadro de texto se pueden agregar tablas para usar en el
                            generador </p>
                            <textarea id="sources" class="form-control">
{% if (generator) %}
{{generator.data.tables}}
{% else %}
;tabla_ejemplo
1,primera opción
1,segunda opción
6,tercera opción (60% probabilidades)
1,cuarta opción
1,quinta opción
{% endif %}
</textarea>
                    </div>

                </div>

                <!--- AYUDA -->
                <div role="tabpanel" class="tab-pane" id="ayuda">
                    {% include './ayuda.html' %}
                </div>

            </div>
        </div>
    </div>

</div>