{% extends "index.html" %}

{% block metas %}
<meta property="og:title" content="{{ generator['name'] }} - Generadores aleatorios" />
<meta property="og:description" content="{{ generator['desc'] | default('Generadores aleatorios')}}" />
{% endblock %}

{% block js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">

    <div class="row form-group">


        <div class="btn-group pull-right ">
            {% if isNewOrEdit or generator  %}
            <a class="btn btn-primary" href="/generadores/" role="button"><span class="fa fa-arrow-circle-o-left"></span> Volver</a>
            {% endif %}
            <a class="btn btn-primary" href="/generadores/new" role="button"><span class="fa fa-file-text-o"></span> Nuevo</a>

        </div>
        {% if isNewOrEdit or generator %}
        <h3 id="generator-title">{{generator.name}}</h3>
        {% endif %}
    </div>
    <div class="clearfix"></div>

    {% if isNewOrEdit or generator %}
        {% include "./detalle.html" %}
    {% endif %}

    {% if generators %}
        {% include "./listado.html" %}
    {% endif %}

</div>
{% endblock %}

{% block endscript %}
<script>
{% if (generator) %}
    const GENERATOR_SOURCE_ID = '{{generator.tableId}}'
{% elif isNewOrEdit %}
    const GENERATOR_SOURCE_ID = 'NEW'
{% else %}
    const GENERATOR_SOURCE_ID = ''
{% endif %}
</script>
<script src="/dist/generator_engine.js"></script>
<script src="/js/generadores.es5.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-575bf8f55e275d97"></script>

<script type="text/javascript">
    window.addthis_config = window.addthis_config||{};
    window.addthis_config.data_track_addressbar = false;
    window.addthis_config.data_track_clickback = false;
</script>
{% endblock %}
